/* Prevents initial subheadings from adding margin */
.article > a:first-child > h2 {
  margin-top: 0.5rem;
}
.article > a:first-child > h3 {
  margin-top: 0.25rem;
}
.article > a:first-child > h4 {
  margin-top: 0.25rem;
}
.article > a:first-child > h5 {
  margin-top: 0.25rem;
}
.article > a:first-child > h6 {
  margin-top: 0.25rem;
}

/* Pads the top of the screen on scroll */

.article > a,
.article > a > h2,
.article > a > h3,
.article > a > h4,
.article > a > h5,
.article > a > h6 {
  scroll-margin-top: 6.75rem;
}

/* Direct from Tailwind: custom overrides for p code */
/* rounded, bg-neutral, px-1.5 */

.article > p > code {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

/* Ordered sublists use different numbering systems */
.article > ol {
  list-style-type: decimal;
}
.article > ol ol {
  list-style-type: lower-alpha;
}
.article > ol ol ol {
  list-style-type: lower-roman;
}
